<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:s="http://www.springframework.org/tags"
	 >
<head>
<meta charset="utf-8" />
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<title>Page de test AJAX</title>
</head>

<body>


<h1>AJAX TEST PAGE</h1>
<button id="get_time">Get Server Time</button>
<button id="say_hello">dit bonjour</button>
<br/>
<p id="get_time_response"></p>
<p id="say_hello_response"></p>

<script src="/js/firstAjaxScript.js"> </script>
</body>

</html>